name: Publish

on:
  push:
    tags:
      - v*

concurrency:
  group: publish-${{ github.head_ref }}

jobs:
  publish:
    name: Publish release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install build dependencies
        run: python -m pip install --upgrade hatch

      - name: Build artifacts
        run: hatch build

      - name: Push build artifacts to PyPI
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.PYPI_API_KEY }}
        run: hatch publish
